/* General */

body {
  margin: 0;
  font-family: Verdana,Geneva,sans-serif;
  font-size: 80%;
  background-color: #f8ead5; /* AntiqueWhite */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
